*, *::before, *::after {
    box-sizing: border-box;
}

/*
@font-face {
    font-family: 'Poppins', poppins;
    src:url(../sources/fonts/poppins.ttf); 
}
*/

body {
    background-color: rgb(130, 197, 86);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.menu-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: filter 1s ease;
}

.menu-background.darkened {
    filter: brightness(45%); 
}

.menu h1 {
    font-size: 7rem;
    font-weight: bolder;
    color: #26437a;
    letter-spacing: 0.5rem;
    -webkit-text-stroke: 0.01rem rgb(48, 93, 153);
    text-shadow: 2px 2px 5px rgb(55, 119, 172);
}

.options {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.tutorial, .settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.controls {
    border: 1px solid black;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(80px);
    color: white;
    width: 100%;
    font-size: 30px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9); 
    padding: 20px;
}

.controls h2 {
    font-family: 'Franklin Gothic Medium';
    text-shadow: 5px 5px 5px black;
}

.controls p, li {
    font-size: 1.2rem;
}

.tutorial button, .settings button {
    width: 38%;
}

.button {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #1b989c; 
    width: 100%;
    color: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9); 
}

.button:hover {
    background-color: #126d6d;
}

.game-window, .tutorial, .settings {
    display: none;
}

.stats {
    z-index: 1;
    margin-left: 1%;
    width: 100%;
    position: absolute;
    color: white;
}

.stats h2 {
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 5px 2px 2px black;
    letter-spacing: 2px;
}

.canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 100vh;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.player, .car {
    position: absolute;
    width: 6.5%;
    height: auto;
    border: 1px solid black;
    filter: drop-shadow(1px 1px 10px);
    transform: translate(-50%, -50%);
}

.player {
    --x: 57;
    --y: 85;
    top: calc(var(--y)*1vh);
    left: calc(var(--x)*1vw);
    filter: drop-shadow(1px 1px 10px rgb(17, 117, 233));
}

.car {
    --x: 57;
    --y: -20;
    top: calc(var(--y)*1vh);
    left: calc(var(--x)*1vw);
    filter: drop-shadow(1px 1px 10px rgb(233, 17, 17));
}

.dialog {
    background: rgba(236, 236, 236, 0.952);
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9); 
    padding: 20px;
}

.dialog h2 {
    font-size: 3rem;
    color: black;
    font-weight: 900;
    letter-spacing: 2px;
}

#loseDialog {
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 9px 4px 47px rgba(115, 4, 4, 0.568);
    z-index: -1;
}

#winDialog {
    border: 1px solid rgb(0, 255, 42);
    box-shadow: 9px 4px 47px rgba(37, 151, 8, 0.645);
    z-index: -1;
}

.form-label {
    font-size: 25px;  
}

@media (max-width: 540px) { 
    .canvas {
        width: 100%;
    }
    .player, .car {
        width: 10%;
        height: auto;
    }
    .stats h2, .dialog h2 {
        font-size: 2rem;
    }
    .button {
        font-size: 0.9rem;
    }
    .options {
        width: 50%;
    }
    .tutorial, .settings {
        width: 80%;
    }
    .tutorial button, .settings button {
        width: 50%;
    }
    .controls {
        font-size: 15px;
    }
    .dialog {
        width: 50%;
    }
    .form-label {
        font-size: 15px;  
    }
}

@media (max-width: 307px) { 
    .button {
        font-size: 0.6rem;
    }
    .controls h2 {
        font-size: 1rem;
    }
    
    .controls p, li {
        font-size: 0.9rem;
    }
    
}

@media print {
    body * {
        display: none;
    }

    #menuBackground{
        opacity: 0;
    }

    #tutorial, #controls * {
        background-color: white;
        color: black;
        top: 40%;
        width: 100%;
        text-align: center;
        display: block !important;
    }

    .controls h2 {
        text-shadow: none;
    }
}