*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src:url(../sources/fonts/poppins.ttf); 
}

body {
    background-color: whitesmoke;
    font-family: poppins, sans-serif;
    overflow: hidden;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.menu h1 {
    font-size: 7rem;
    font-weight: bolder;
    color: #26437a;
    letter-spacing: 0.5rem;
    -webkit-text-stroke: 0.01rem rgb(48, 93, 153);
    text-shadow: 2px 2px 5px rgb(55, 119, 172);
}

.options, .tutorial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.button {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #26437a; 
    width: 100%;
    color: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: #345a7e;
}

.game-window, .tutorial {
    display: none;
}

#backgroundImage {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 90rem;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.player {
    position: absolute;
    width: 7.6rem;
    height: 15rem;
    top: 85%;
    left: 50%;
    border: 1px solid black;
    filter: drop-shadow(1px 1px 10px rgb(232, 150, 150));
    transform: translate(-50%, -50%);
    background-image: url('../sources/graphics/car (1).png');
    background-size: cover;
}